@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* IE < 8 */
}
div ::-webkit-scrollbar {
    width: 10px; height: 10px;
}

div ::-webkit-scrollbar-track {
    background-color: #292929;
}

div ::-webkit-scrollbar-thumb {
    background-color: #505050; border-radius: 3px;
}
div ::-webkit-scrollbar-thumb:hover {
    background-color: #8c8c8c; border-radius: 3px;
}

body {
  padding: 0; margin: 0;
  font:16px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#C4C4C4;
  font-weight:300; background: #292929; font-size: 14px;
}
header,
section {
    margin: 0 auto;
}
section {
    max-width: 1176px;
    padding-bottom: 20px; border-top: 1px solid #D3DFE9; margin-left: 105px; margin-right: 20px;
}
nav + section {
    border-top: none;
}
header,
footer {
    padding:  10px 20px 10px 20px;
    background: #101D35
}
a {
    color: #68e9e4;
    text-decoration: none;
}
a:hover {
    color: #68e9e4;
    text-decoration: underline;
}
a:visited {
    color: #68e9e4;
}
header .details {
    position: absolute; top: 10px; right: 20px;

}
header .details a {
    color: #D3DFE9; font-size: 14px;
}
header .details a:hover {
    text-decoration: underline;
}
h1 {
    margin: 0;
    font-size: 46px; line-height: 46px; color: #292929;
    text-shadow: #D3DFE9 0 0 15px;
}
h1 .n {
    font-size: 62px; font-weight: normal; color: #D3DFE9;
}
header p {
    margin: 0;
    font-size: 18px; color: #D3DFE9; padding-left: 84px;

}
nav {
    position: fixed; top: 100px; left: 22px;
    width: 100px;

}
nav ul,
nav li {
    list-style: none; padding: 0;
}
nav a {
    color: #D3DFE9; font-weight:  bold; text-decoration: none;
}
p.intro {
    font-size: 16px;
}
/* Gist styles */
.gist {
    clear: both;
}
.gist-file {
    margin-bottom: 10px !important;
    font-size: 11px !important;
    box-shadow: 0 0 4px 0 #D3DFE9 !important;
}
.gist-group .gist-file {
    float: left !important; margin-right: 10px !important;
    width: 380px !important; font-size: 11px !important;
}
/* gist overrides */
.gist-group .gist-file:first-child {
    margin-left: 0;
}
.gist-syntax {
    min-height: 160px !important; max-height: 400px !important;
}
.gist-group {
    padding: 2px;
    overflow: auto !important;
}
.gist-group .gist-syntax {
     max-height: 200px !important;
}
.gist-data,
.gist-syntax .highlight {
    background: #101D35 !important;
}
.gist-file {
    border: none !important;
}
.gist-meta {
    color:#C4C4C4 !important;
    background: #292929 !important;
}
.gist-syntax .nx,
.gist-syntax .p {
    color: #D3DFE9 !important;
}
.gist-syntax .k,
.gist-syntax .kd,
.gist-syntax .o{
    color: orange !important;
}
.gist-syntax .s2 {
    color: #67EB3D !important;
}
.gist-syntax .kc,
.gist-syntax .mi {
    color: #099 !important;
}
.gist-syntax .c1 {
    color: #5DB6AB !important;
}
.gist-data .line_numbers {
 display: none;
}